html, body{
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(10, 5, 31, 0.5), rgba(10, 5, 31, 0.5)),
    url("../images/coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container-fluid{
  position: relative;
}

.main-content{
  position: absolute;
  top: 45%;
  transform: translate(0, -45%);
  width: 100%;
}

.main-content h1{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

@media (max-width: 575px){
  .main-content h1{
    font-size: 2rem;
  }
}







