html,body{
  background: #0a051f;
}

body{
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

.nav-link {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    transition: font-size .5s;
  }
  
  .nav-link:hover{
    font-weight: bold;
    color: rgb(171, 118, 202);
    font-size: 1.8rem;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #fff;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .section{
    font-size: 1.3em;
    padding: 5% 0;
  
    width: 60%;
    margin: auto;
  }

  .sub-heading {
    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50%;    
  }

  .far,
  .fas {
    margin-right: 15px;
  }

  .project-link{
    display: inline-block;
    text-decoration: none;
    background-color: #ab76ca;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    border-radius: 5px;;
  }
  
  .project-link:hover{
    text-decoration: none;
    color: #fff;
    background-color: #9839cf;
  }

  @media screen and (max-width: 991px) {
    .section{
        width: 100%;
    }
  }
  
  